*{
    font-family: 'Quicksand', sans-serif;
}
.bg-sky{
    background-color: #a1dffb !important
   
  }
  .golden{
      color:rgb(230, 203, 31);
   margin-left: 1rem !important;
  }
  .hero1{
      animation: hero1 infinite 2s linear alternate; 
   }
.hero2{
        animation: hero2 infinite 1.5s linear alternate;  }
.hero3{
            animation: hero3 infinite 2.5s linear alternate;  }
.imageHero{
    height: 3rem !important;
}
.h-results{
    height:70vh !important;
    overflow: auto;
}
.bg-header{
    background-color: #00DBDE;
background-image: linear-gradient(180deg, #00DBDE 0%, #ce78ff 100%);

}
.lila{
    background-color: #5d2d79;
}
.bg-btn{
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
}
.bg-lightblue{
 background-image: linear-gradient(45deg, #d4e43f 0%, #1fb8d3 100%);
}
.myTeam{
    height: 100vh !important;
}
.power{
    font-size: 10rem;
}
.icon-height{
    font-size:5rem;
}
@keyframes hero1{
    from{
        transform: translateY(-0px);
    }
    to{
        transform: translateY(200px);
        opacity: 0;

    }
}
@keyframes hero2{
    from{
        transform: translateY(-0px);
    }
    to{
        transform: translateY(200px);
        opacity: 0;

    }
}
@keyframes hero3{
    from{
        transform: translateY(-0px);
    }
    to{
        transform: translateY(200px);
        opacity: 0;

    }
}
.cardHome{
    border-radius: 2rem;
    width: 90%;
   background-color: rgba(240, 248, 255, 0.486);
}
.Login{
    background-color: white
}
@media (min-width: 700px) { 
    .responsiveLogin{
        width: 40% !important;
    }
 }
@media (min-width: 1000px) and (orientation: landscape) { 
    .responsiveLogin{
        width: 31% !important;
    }
 }
 .error{
     color:red;
    
     animation: error 1s linear 
 }
 @keyframes error {
     from{
         transform:scale(1)
     }
     to{
         transform: scale(2)
     }
 }
 .add{
     z-index: 4 !important;
     position: absolute;
 }
 .heroIcon{
     width: 7rem;
     position: absolute;
     bottom: 20%;
     left: 27%;
 }
 @media (min-width: 1000px) and (orientation: landscape) { 
    .heroIcon{

        position: absolute;
        bottom: 20%;
        left: 45%;
    }
 }
 @media (min-width: 600px) and (max-width:1000px) { 
    .heroIcon{

        position: absolute;
        bottom: 20%;
        left: 39%;
    }
 }
 .delete{
     width:1rem;
     height:2rem
 }